{% extends 'layout.html' %} 

{% block title %} Posts {% endblock %} 
{% block content %}
<section>
  <h1>Posts </h1>

    {% for post in posts %}
      <article class="post">
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <p>Created at: {{ post.created_at }}</p>
        <p>Updated at: {{ post.updated_at }}</p>
        {% comment %} <a href="{{ url_for('posts.show', post_id=post.id) }}">Show</a> {% endcomment %}
        {% comment %} <a href="{{ url_for('posts.show', post_id=post.id) }}">{{ post.title }}</a> {% endcomment %}
      </article>
    {% endfor %}
</section>
{% endblock %}
